# Token bot Telegram (dari @BotFather)
TELEGRAM_BOT_TOKEN=8699927303:AAEiiP_JLYwyiEMaXlQNzowB_07w0MDlUks

# Telegram user ID kamu (admin tunggal). Dapatkan dari @userinfobot
ADMIN_TELEGRAM_ID=7633494260

# Upstash Redis (REST API) — sama dengan yang dipakai license platform
UPSTASH_REDIS_REST_URL=https://promoted-seal-66351.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAQMvAAIgcDJjNjNkODQ5M2ZkOGE0ZjhjOWY2NjNkMGRiZDk1ZjM2OQ
